<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME</h1>
    <hr>
    <h3>upload file</h3>
    <form action="/" method="POST" enctype="multipart/form-data"> <!--post on homepage-->
        <input type="file" name="thumbnail" accept="image/*">
        <input type="submit" value="submit" class="btn btn-primary">
    </form>
    <hr>
    <div style="border: 1px,black;">
        <% if (thumbnailPath) { %>
            <img src="<%= thumbnailPath %>" alt="Thumbnail">
        <% } else { %>
            <p>No thumbnail available</p>
        <% } %>
    </div>
</body>
</html>